extends layouts/dashboard.pug

block content
  h2.dashboard__title Dashboard

  .dashboard__wrapper
    aside.dashboard__aside(role="filter")
      .ztt-card.dashboard__card
        .ztt-card__header
          .ztt-card__header-content
            h3.ztt-card__title Filtros

        .ztt-card__content
          .ztt-form-group
            .ztt-form-group__wrapper
              label.ztt-form-group__label.ztt-form-group__label--floating(for="group_value") Selecione um grupo
              angucomplete-alt(id="group", input-class="ztt-form-group__input", template-url="/views/directives/angucomplete.html", text-searching="Procurando...", text-no-results="Nenhum resultado encontrado", match-class="highlight", title-field="name", search-fields="name", local-data="vm.groups", local-search="vm.groupSearch", selected-object="vm.group", auto-match="true", minlength="0")

        .ztt-card__footer
          button.btn.btn--primary.btn--block(type="button", ng-disabled="!vm.group", ng-click="vm.filterEvents(vm.group)", ng-autodisable="") Filtrar

    main.dashboard__main(role="main-content")
      .ztt-card.dashboard__card
        .ztt-card__header
          .ztt-card__header-content
            h3.ztt-card__title Relatório

        .ztt-card__content
          vp-report(data="vm.events", group="{{vm.group.originalObject.name}}")
