doctype html
html(lang="pt-br" ng-app="viewpoint")
  head
    title= Viewpoint
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" type="text/css" href="dist/main.css")

  body
    div(ui-view="")

    //- Dependencies
    script(src="vendor/bower/angular/angular.min.js")
    script(src="vendor/bower/angular-aria/angular-aria.min.js")
    script(src="vendor/bower/angular-messages/angular-messages.min.js")
    script(src="vendor/bower/angular-sanitize/angular-sanitize.min.js")
    script(src="vendor/bower/angular-touch/angular-touch.min.js")
    script(src="vendor/bower/angular-ui-router/release/angular-ui-router.min.js")
    script(src="vendor/bower/angular-environment/dist/angular-environment.min.js")
    script(src="vendor/bower/ng-lodash/build/ng-lodash.min.js")

    //- services
    script(src="js/services/services.module.js")

    //- directives
    script(src="js/services/directives.module.js")

    //- controllers
    script(src="js/services/controllers.module.js")

    //- core
    script(src="js/services/core.module.js")
    script(src="js/services/routes.config.js")
    script(src="js/services/environment.config.js")

    script(src="js/main.js")
