<!DOCTYPE html>
<html lang="pt-br" ng-app="viewpoint">
  <head>
    <title>Viewpoint</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="meta desc">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="dist/main.css">
  </head>
  <body>
    <div ui-view></div>

    <!-- Dependencies -->
    <script src="vendor/bower/angular/angular.min.js"></script>
    <script src="vendor/bower/angular-aria/angular-aria.min.js"></script>
    <script src="vendor/bower/angular-messages/angular-messages.min.js"></script>
    <script src="vendor/bower/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="vendor/bower/angular-touch/angular-touch.min.js"></script>
    <script src="vendor/bower/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="vendor/bower/angular-environment/dist/angular-environment.min.js"></script>
    <script src="vendor/bower/ng-lodash/build/ng-lodash.min.js"></script>

    <!-- services -->
    <script src="js/services/services.module.js"></script>

    <!-- directives -->
    <script src="js/services/directives.module.js"></script>

    <!-- controllers -->
    <script src="js/services/controllers.module.js"></script>

    <!-- core -->
    <script src="js/services/core.module.js"></script>
    <script src="js/services/routes.config.js"></script>
    <script src="js/services/environment.config.js"></script>

    <script src="js/main.js"></script>
  </body>
</html>
