extends layouts/application.pug

block description
  | Esqueceu sua senha? Fique tranquilo, vamos te ajudar!

block form
  .page__form
    form.ztt-card(name="vm.recoveryForm", ng-submit="vm.recoveryFormSubmit", ng-autodisable="")
      .ztt-card__content
        .ztt-form-group
          .ztt-form-group__wrapper
            label.ztt-form-group__label.ztt-form-group__label--floating(for="email") Digite o e-mail do cadastro
            input.ztt-form-group__input#email(ng-model="vm.user.email", ng-required="true", type="email", ztt-input="")

      .ztt-card__footer.ztt-card__footer--center
        button.btn.btn--primary.btn--block(type="submit", ng-disabled="vm.recoveryForm.$invalid") Recuperar senha

block links
  .page__links
    a.page__link(ui-sref="signin")
      | Já possui uma conta?
      strong.page__link__highlight Acesse
    a.page__link(ui-sref="signup")
      | Não possui uma conta?
      strong.page__link__highlight Cadastre-se
