extends layouts/application.pug

block description
  | Utilize o espaço abaixo para criar sua conta

block form
  .page__form
    form.ztt-card.ztt-card--no-title(name="vm.signupForm", ng-submit="vm.signupFormSubmit()", ng-autodisable="")
      .ztt-card__content
        .ztt-form-group
          .ztt-form-group__wrapper
            label.ztt-form-group__label.ztt-form-group__label--floating(for="name") Informe seu nome
            input.ztt-form-group__input#name(name="name", ng-model="vm.user.name", ng-required="true", type="text", ztt-input="")
          vp-error-messages(errors="vm.signupForm.name.$error", is-dirty="vm.signupForm.name.$dirty")

        .ztt-form-group
          .ztt-form-group__wrapper
            label.ztt-form-group__label.ztt-form-group__label--floating(for="email") Qual e-mail você mais usa?
            input.ztt-form-group__input#email(name="email", ng-model="vm.user.email", ng-required="true", type="email", ztt-input="")
          vp-error-messages(errors="vm.signupForm.email.$error", is-dirty="vm.signupForm.email.$dirty")

        .ztt-form-group
          .ztt-form-group__wrapper
            label.ztt-form-group__label.ztt-form-group__label--floating(for="password") Escolha uma senha
            input.ztt-form-group__input#password(name="password", ng-model="vm.user.password", ng-required="true", ng-minlength="6", type="password", ztt-input="")
          vp-error-messages(errors="vm.signupForm.password.$error", is-dirty="vm.signupForm.password.$dirty")

        .ztt-form-group
          .ztt-form-group__wrapper
            label.ztt-form-group__label.ztt-form-group__label--floating(for="password_confirmation") Agora confirme sua senha
            input.ztt-form-group__input#password_confirmation(name="passwordConfirmation", ng-model="vm.user.passwordConfirmation", ng-required="true", type="password", ztt-input="", vp-password-match="vm.user.password")
          vp-error-messages(errors="vm.signupForm.passwordConfirmation.$error", is-dirty="vm.signupForm.passwordConfirmation.$dirty")

      .ztt-card__footer.ztt-card__footer--center
        button.btn.btn--primary.btn--block(type="submit", ng-disabled="vm.signupForm.$invalid") Criar conta

block links
  .page__links
    a.page__link(ui-sref="signin")
      | Já possui uma conta?
      strong.page__link__highlight Acesse
    a.page__link(ui-sref="passwordRecovery")
      | Esqueceu sua senha?
      strong.page__link__highlight Vamos recuperá-la
