strong.ztt-form-group__error(ng-messages="vm.errors" ng-show="vm.isDirty")
  span(ng-message="required") O preenchimento desse campo é obrigatório
  span(ng-message="email") E-mail inválido
  span(ng-message="passwordMatch") A confirmação não bate com a senha
  span(ng-message="minlength") A senha está muito curta
  span(ng-message="maxlength") O conteúdo é maior do que o permitido

strong.ztt-form-group__error(ng-if="vm.errors.model !== undefined") {{ vm.errors.model.toSentence() }}
