.page__wrapper
  h1.page__title
    a.page__title__link(ui-sref="home") Viewpoint

  .page__divisor
    span.page__divisor-icon &#9679

  p.page__description
    block description

  .page__form
    block form

  .page__links
    block links
